%if badext:
    Złe rozszerzenie: {{badext}}
%end


<form action="/" method="post" enctype="multipart/form-data">
  Plik: <input type="file" name="upload" />
  <input type="submit" value="Start upload" />
</form>