</div>

</div>
</div>
</div>
</div>
</div>
<div class="clearbreak"></div></div>
<div id="jsn-leftsidecontent">
    <div id="jsn-leftsidecontent_inner">
        <div id="jsn-pos-left">
            <div class="richbox-2 jsn-icon-folder jsn-modulecontainer">
                <div class="jsn-modulecontainer_inner">
                    <div>
                        <div>
                            <div class="jsn-module-badge"></div>
                            <div class="jsn-module-extra-icon"></div>
                            <h3 class="jsn-moduletitle"><span
                                    class="jsn-moduleicon">Metody wytwarzania oprogramowania</span></h3>

                            <div class="jsn-modulecontent"><span class="jsn-menu-toggle">Menu</span>
                                <ul class="menu-treemenu">
                                    <li class="first"><a href="/mwo-news">
					<span>
						Aktualności	</span>
                                    </a></li>
                                    <li class="current active"><a class="current" href="/mwo-harmonogram">
					<span>
						Harmonogram zajęć	</span>
                                    </a></li>
                                    <li><a href="/mwo-terminy">
					<span>
						Terminy	/span>
                                    </a></li>
                                    <li><a href="/mwo-wykladowcy">
					<span>
						Wykładowcy	</span>
                                    </a></li>
                                    <li><a href="/mwo-programstudiow">
					<span>
						Program studiów	</span>
                                    </a></li>
                                    <li class="last"><a href="/mwo-kontakt">
					<span>
						Kontakt	</span>
                                    </a></li>
                                </ul>
                                <div class="clearbreak"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="richbox-2 jsn-icon-info jsn-modulecontainer">
                <div class="jsn-modulecontainer_inner">
                    <div>
                        <div>
                            <div class="jsn-module-badge"></div>
                            <div class="jsn-module-extra-icon"></div>
                            <h3 class="jsn-moduletitle"><span class="jsn-moduleicon">Przydatne informacje</span></h3>

                            <div class="jsn-modulecontent"><span class="jsn-menu-toggle">Menu</span>
                                <ul class="menu-treemenu">
                                    <li class="first"><a href="/sidemenu-students-common-mwo-budynki-i-sale">
							<span>
								Budynki i sale	</span>
                                    </a></li>
                                    <li><a href="/sidemenu-students-common-mwo-wjazd-na-teren-agh">
							<span>
								Wjazd na teren AGH	</span>
                                    </a></li>
                                    <li><a href="/sidemenu-students-common-mwo-dreamspark">
							<span>
								DreamSpark	</span>
                                    </a></li>
                                    <li><a href="/sidemenu-students-common-mwo-biblioteka-glowna-agh">
							<span>
								Biblioteka Główna AGH	</span>
                                    </a></li>
                                    <li><a href="/sidemenu-students-common-mwo-konta-pocztowe">
							<span>
								Konta pocztowe	</span>
                                    </a></li>
                                    <li class="last"><a href="/sidemenu-students-common-mwo-regulamin-studiow">
							<span>
								Regulamin studiów	</span>
                                    </a></li>
                                </ul>
                                <div class="clearbreak"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearbreak"></div></div></div></div></div></div></div></div></div>
</div>


</div>

<div id="jsn-footer">
    <div id="jsn-footer-inner1">
        <div id="jsn-footer-inner">
            <div id="jsn-footermodules" class="jsn-modulescontainer jsn-modulescontainer2">
                <div id="jsn-pos-footer">
                    <div class=" jsn-modulecontainer">
                        <div class="jsn-modulecontainer_inner">
                            <div class="jsn-module-badge"></div>
                            <div class="jsn-module-extra-icon"></div>
                            <div class="jsn-modulecontent">
                                <div>
                                    <p>Wszelkie prawa zastrzeżone © 2013 Studia podyplomowe INFORMATYKA <br/><a
                                            href="http://ki.agh.edu.pl/" target="_blank"
                                            title="Katedra Informatyki Wydziału IET AGH">Katedra Informatyki</a>,
                                        Wydział IET, Akademia Górniczo-Hutnicza w Krakowie.</p>

                                    <p><br/><br/></p></div>
                                <div class="clearbreak"></div>
                            </div>
                        </div>
                    </div>
                    <div class=" jsn-modulecontainer">
                        <div class="jsn-modulecontainer_inner">
                            <div class="jsn-module-badge"></div>
                            <div class="jsn-module-extra-icon"></div>
                            <div class="jsn-modulecontent"><span class="jsn-menu-toggle">Menu</span>
                                <ul class="menu-divmenu">
                                    <li class="first"><a href="/sidemenu-kontakt-katedrainformatyki">
										<span>
											Kontakt		</span>
                                    </a>
                                    </li>
                                    <li><a href="http://iet.agh.edu.pl/">
									<span>
										Wydział IET		</span>
                                    </a>
                                    </li>
                                    <li class="last"><a href="http://www.agh.edu.pl/">
								<span>
									Akademia Górniczno-Hutnicza		</span>
                                    </a>
                                    </li>
                                </ul>
                                <div class="clearbreak"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jsn-pos-bottom">
                    <div class=" jsn-modulecontainer">
                        <div class="jsn-modulecontainer_inner">
                            <div class="jsn-module-badge"></div>
                            <div class="jsn-module-extra-icon"></div>
                            <div class="jsn-modulecontent">
                                <div>
                                    <p>Projekt strony oparty o szablon JoomlaShine <a class="sgfooter"
                                                                                      href="http://www.joomlashine.com/joomla-templates/jsn-boot-joomla-template-details.html"
                                                                                      target="_blank"
                                                                                      title="JSNBOOT template">JSNBOOT</a>.<br/>
                                        Prawa autorskie do szablonu © 2008-2013 JoomlaShine.com.</p></div>
                                <div class="clearbreak"></div>
                            </div>
                        </div>
                    </div>
                    <div class=" jsn-modulecontainer">
                        <div class="jsn-modulecontainer_inner">
                            <div class="jsn-module-badge"></div>
                            <div class="jsn-module-extra-icon"></div>
                            <div class="jsn-modulecontent">
                                <div>
                                    <p><a href="http://iet.agh.edu.pl/" target="_blank"
                                          title="Wydział Informatyki, Elektroniki i Telekomunikacji AGH"><img
                                            src="/images/logo_iet.png" alt=""/></a> <a href="http://www.agh.edu.pl/"
                                                                                       target="_blank"
                                                                                       title="Akademia Górniczo-Hutnicza"><img
                                            src="/images/logo_agh.png" alt=""/></a></p></div>
                                <div class="clearbreak"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearbreak"></div>
            </div>
        </div>
    </div>
</div>
</div>
<a id="jsn-gotoplink" href="#top">
    <span>Go to top</span>
</a>

<script src="/plugins/system/jsntplframework/assets/joomlashine/js/noconflict.js" type="text/javascript"></script>
<script src="/plugins/system/jsntplframework/assets/joomlashine/js/utils.js" type="text/javascript"></script>
<script src="/templates/jsn_boot_pro/js/jsn_template.js" type="text/javascript"></script>
<script type="text/javascript">

    window.addEvent('domready', function () {

        SqueezeBox.initialize({});
        SqueezeBox.assign($$('a.modal'), {
            parse: 'rel'
        });
    });
    window.addEvent('load', function () {
        new JCaption('img.caption');
    });
    JSNTemplate.initTemplate({
        templatePrefix: "jsn_boot_pro_",
        templatePath: "/templates/jsn_boot_pro",
        enableRTL: false,
        enableGotopLink: true,
        enableMobile: false,
        enableMobileMenuSticky: true
    });

</script></body>
</html>
